<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Pedido de Confirmacao</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>
			Olá, seja bem vindo ao Ubcare. Saúde como projeto de vida.
		</h1>
		<p>
			Estamos muito felizes de ter você conosco. Voce está aqui para melhorar vidas.
		</p>
		 <p>Enviado por <span th:text="${sender}"></span> </p>
		<!-- <img src="../imgs/ubcare.jpg"  style="height: 40px; width: 80px"/> -->
	</div>
</body>
</html>